.sub-title {
    margin-top: 1.5rem;
}

.processing-section {
    margin-top: 3rem;

    .submit-button {
        margin-top: 0.5rem;
    }
}

.code-area {
	.editor-container {
        height: calc(100vh - 100px);
  }
}

.editor-wrapper {
  height: 60vh;
  width: 100vh;
  overflow: hidden;
}

.editor-container {
  height: 100%;
  width: 100%;
  border: 1px solid #727272;
  border-radius: 4px;
}
